@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.tal {
  text-align: left; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.at_flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline; }

.at_h-centerXy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.at_h-chrome-opacity-in {
  opacity: 1; }

.at_h-chrome-opacity-out {
  opacity: 0; }

.at_h-chrome-opacity-in,
.at_h-chrome-opacity-out {
  transition: all .25s ease;
  pointer-events: none; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.outer {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }
  .outer::after {
    clear: both;
    content: "";
    display: block; }

.col-3 {
  float: left;
  display: block;
  margin-right: 2.38908%;
  width: 23.20819%; }
  .col-3:last-child {
    margin-right: 0; }

.col-4 {
  float: left;
  display: block;
  margin-right: 2.38908%;
  width: 31.74061%; }
  .col-4:last-child {
    margin-right: 0; }

.col-8 {
  float: left;
  display: block;
  margin-right: 2.38908%;
  width: 65.87031%; }
  .col-8:last-child {
    margin-right: 0; }

.col-9 {
  float: left;
  display: block;
  margin-right: 2.38908%;
  width: 74.40273%; }
  .col-9:last-child {
    margin-right: 0; }

.mdl-grid {
  padding: 0; }

.mdl-cell {
  margin: 0; }

.mdl-cell--4-col {
  width: 33.3333333333%; }

.mdl-cell--8-col {
  width: 66.6666666667%; }

.mdl-cell--3-col {
  width: 25%; }

.mdl-cell--9-col {
  width: 75%; }

.mdl-cell--12-col {
  width: 100%; }

.mdl-cell--3c-col {
  width: 30%; }

.mdl-cell--9c-col {
  width: 70%; }

.col-6 {
  width: 50%;
  float: left; }

html, body {
  height: 100%; }

.at_page-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -128px; }

.at_page-wrapper:after {
  content: "";
  display: block; }

.at_footer, .at_page-wrapper:after {
  height: 128px;
  z-index: -1;
  pointer-events: none; }

.alsma-theme .mdl-layout {
  height: auto; }

.alsma-theme .at_layout {
  font-size: 1.4rem;
  background-color: #f9f9fb; }
  .alsma-theme .at_layout textarea {
    width: 100%;
    background: transparent; }

.alsma-theme .at_title-col {
  color: #101010;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  margin-bottom: 23px; }

.alsma-theme .at_md-pagination {
  color: #333;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.7rem;
  padding-bottom: 20px;
  margin-top: 17px;
  margin-bottom: 40px;
  border-bottom: 1px solid #dfdfe7; }

.alsma-theme .at_loading {
  font-size: 1.4rem; }

.alsma-theme .at_md-card-actions {
  margin-left: 0;
  margin-right: 0; }

.at_input-withIcon .material-icons {
  color: #bcbcbc;
  font-size: 2.4rem;
  vertical-align: middle;
  margin-right: 10px; }

.at_md-input-element {
  color: #181818;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.0rem; }
  .at_md-input-element .md-input-placeholder {
    color: rgba(24, 24, 24, 0.5) !important; }
    .at_md-input-element .md-input-placeholder.md-focused {
      color: #39a2d5 !important; }
    .at_md-input-element .md-input-placeholder.md-float:not(.md-empty), .at_md-input-element .md-input-placeholder.md-float.md-focused {
      line-height: normal;
      padding-bottom: 0; }
  .at_md-input-element .md-input-underline {
    border-top: 1px solid #dbdbdb !important; }
  .at_md-input-element .md-input-underline .md-input-ripple.md-focused {
    background-color: #47a2d8 !important; }

.at_upload-input {
  height: 200px;
  width: 200px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box; }
  .at_upload-input .at_upload-zone {
    background-color: white;
    border: 0.1rem dashed #d8d8d8;
    border-radius: 0.6rem;
    transition: all .25s ease; }
  .at_upload-input .at_upload-input-text {
    color: rgba(24, 24, 24, 0.8);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    display: block;
    margin-top: 13px;
    max-width: 85px;
    transition: all .25s ease; }
  .at_upload-input .at_upload-img {
    max-width: 100%;
    max-height: 100%; }
  .at_upload-input .at_upload-indicator {
    background-color: rgba(255, 255, 255, 0.75); }

.alsma-theme .at_md-card {
  background-color: #f9f9fb;
  padding: 0 0 30px 0;
  margin-bottom: 30px;
  box-shadow: none; }

.alsma-theme .at_md-card-title {
  color: #39a2d5;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 0 0 12px 0; }

.alsma-theme .at_md-card-subtitle {
  color: #7c7c7c;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 10px 0; }
  .alsma-theme .at_md-card-subtitle .material-icons {
    font-size: 22px;
    margin-right: 13px; }

.alsma-theme .at_md-card-img {
  float: left;
  margin-bottom: 5px; }

.alsma-theme .at_md-card-content p {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin: 0; }

.alsma-theme .at-md-card-actions {
  padding: 0;
  margin: 0; }

.alsma-theme .at_after-card {
  margin: 15px 0;
  font-size: 1.4rem;
  text-align: center; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.at_brand_info {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 165px;
  background-color: white;
  border: 0.1rem solid #dfdfe7;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1); }
  .at_brand_info::after {
    clear: both;
    content: "";
    display: block; }
  .at_brand_info::after {
    clear: both;
    content: "";
    display: block; }
  .at_brand_info .md-tab-header {
    padding: 22px 14px 0;
    border-bottom: 1px solid #dfdfe7; }
    .at_brand_info .md-tab-header .md-tab-label {
      display: inline-block;
      text-decoration: none;
      color: #7a7a7a;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.7rem;
      transition: all .25s ease;
      padding: 0 29px 18px;
      border-bottom: 4px solid transparent;
      opacity: 1;
      height: auto;
      min-width: 0; }
      .at_brand_info .md-tab-header .md-tab-label.md-tab-active {
        color: #333; }
      .at_brand_info .md-tab-header .md-tab-label:focus {
        background-color: transparent; }
      .at_brand_info .md-tab-header .md-tab-label:hover {
        color: #333; }
    .at_brand_info .md-tab-header md-ink-bar {
      height: 4px;
      background-color: #47a2d8; }

.at_brands-image {
  height: 20.2rem;
  width: 20.2rem;
  background-color: white;
  border: 0.1rem solid #dfdfe7;
  overflow: hidden;
  display: block;
  position: relative; }
  .at_brands-image img {
    max-width: 100%; }

.at_brands-layout {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 165px;
  background-color: white;
  border: 0.1rem solid #dfdfe7;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1); }
  .at_brands-layout::after {
    clear: both;
    content: "";
    display: table; }
  .at_brands-layout::after {
    clear: both;
    content: "";
    display: table; }

.at_brands-body {
  padding: 39px; }
  .at_brands-body form {
    width: 100%; }
    .at_brands-body form .at_brands-input {
      width: 100%; }
  .at_brands-body .at_flex {
    margin-bottom: 40px; }
  .at_brands-body .at_md-textfield__input {
    font-size: 2.2rem;
    color: #181818; }
    .at_brands-body .at_md-textfield__input::-webkit-input-placeholder {
      font-size: 2.2rem;
      opacity: 0.25; }
    .at_brands-body .at_md-textfield__input::-moz-placeholder {
      font-size: 2.2rem;
      opacity: 0.25; }
    .at_brands-body .at_md-textfield__input:-moz-placeholder {
      font-size: 2.2rem;
      opacity: 0.25; }
    .at_brands-body .at_md-textfield__input:-ms-input-placeholder {
      font-size: 2.2rem;
      opacity: 0.25; }

.at_brands-addedInput {
  background-color: #eee;
  border-radius: 1.8rem;
  color: #181818;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.7rem;
  padding: 0 20px;
  position: relative;
  max-width: 70%;
  margin-left: 30px; }
  .at_brands-addedInput .at_brand-websiteButton {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #ff3930; }

.at_brand-addInput {
  width: 100%;
  position: relative; }
  .at_brand-addInput .material-icons {
    color: #2f87df;
    text-decoration: none;
    font-size: 2.8rem;
    transition: all .25s ease; }
    .at_brand-addInput .material-icons:hover {
      color: #4594e2; }
  .at_brand-addInput .at_brand-addInput-button {
    position: absolute;
    top: 12px;
    right: 0; }

.alsma-theme .at_navigation {
  margin-top: 18px;
  padding: 0;
  margin-bottom: 42px;
  display: -ms-flexbox;
  display: flex; }
  .alsma-theme .at_navigation li {
    display: inline-block; }
  .alsma-theme .at_navigation a {
    color: #39a2d5;
    text-decoration: underline; }
    .alsma-theme .at_navigation a:hover {
      text-decoration: none; }
  .alsma-theme .at_navigation .at_md-navigation__link {
    display: block;
    padding: 28px 20px 26px;
    text-align: center;
    text-decoration: none;
    color: #666;
    border-bottom: 4px solid transparent;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem;
    transition: all .25s ease; }
    .alsma-theme .at_navigation .at_md-navigation__link:hover {
      color: #39a2d5; }
    .alsma-theme .at_navigation .at_md-navigation__link.active {
      color: #39a2d5;
      border-bottom: 4px solid #47a2d8; }

.alsma-theme .at_card-navigation {
  margin: 0 auto;
  padding: 0 14px;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #dfdfe7; }
  .alsma-theme .at_card-navigation li {
    display: inline-block; }
  .alsma-theme .at_card-navigation .at_card-navigation__link {
    display: block;
    padding: 18px 29px 14px;
    text-align: center;
    text-decoration: none;
    color: #7a7a7a;
    border-bottom: 4px solid transparent;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 400;
    transition: all .25s ease;
    cursor: pointer; }
    .alsma-theme .at_card-navigation .at_card-navigation__link:hover {
      color: #333; }
    .alsma-theme .at_card-navigation .at_card-navigation__link.active {
      color: #333;
      border-bottom: 4px solid #47a2d8; }
  .alsma-theme .at_card-navigation .at_navigation-lastItem {
    margin-left: auto;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    .alsma-theme .at_card-navigation .at_navigation-lastItem a {
      color: #2f87df;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2rem;
      text-decoration: underline;
      text-transform: uppercase;
      padding: 0 17px;
      cursor: pointer; }
      .alsma-theme .at_card-navigation .at_navigation-lastItem a:hover {
        text-decoration: none; }

.at_user-controls {
  -ms-flex-item-align: end;
  align-self: flex-end; }
  .at_user-controls-link {
    text-decoration: none;
    display: inline-block;
    margin: 0 13px;
    font-size: 1.8rem;
    color: #333;
    padding-bottom: 22px;
    transition: all .25s ease;
    position: relative; }
    .at_user-controls-link .material-icons {
      font-size: 3.0rem; }
    .at_user-controls-link:after {
      content: '';
      height: 0;
      width: 150%;
      position: absolute;
      bottom: -1px;
      left: 50%;
      background-color: #46b53f;
      display: inline-block;
      transition: all .25s ease;
      transform: translate(-50%, 100%); }
    .at_user-controls-link.active {
      color: #46b53f; }
      .at_user-controls-link.active:after {
        height: 4px; }
    .at_user-controls-link:hover {
      color: #39a2d5; }
    .at_user-controls-link.--user .material-icons {
      font-size: 2.4rem;
      position: relative;
      top: -5px;
      margin-left: 4px; }
    .at_user-controls-link .at_user-controls-avatar {
      height: 42px;
      width: 42px;
      position: relative;
      overflow: hidden;
      display: inline-block;
      font-size: 0;
      line-height: 0;
      margin-left: 4px; }
      .at_user-controls-link .at_user-controls-avatar img {
        max-width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }

.at_notification {
  position: relative; }
  .at_notification.at_unread .at_user-controls-notification {
    display: block; }

.at_user-controls-notification {
  position: absolute;
  top: -3px;
  right: -3px;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #ff1b1b;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 50%;
  display: none; }

form .control {
  width: 100%;
  position: relative;
  margin-bottom: 5px; }
  form .control .validation {
    position: absolute;
    bottom: -9px;
    left: 0;
    font-size: 1.1rem; }
  form .control .validation, form .control + .validation {
    transition: opacity .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    color: #f44336; }
    form .control .validation .pattern, form .control + .validation .pattern {
      display: none; }
    form .control .validation.validation-block, form .control + .validation.validation-block {
      margin-top: 5px;
      display: block; }
    form .control .validation.validation-line, form .control + .validation.validation-line {
      display: inline; }

form.ng-submitted .control.ng-invalid .validation, form.ng-submitted .control.ng-invalid + .validation {
  opacity: 1;
  visibility: visible; }
  form.ng-submitted .control.ng-invalid .validation .required, form.ng-submitted .control.ng-invalid + .validation .required {
    display: inline; }
  form.ng-submitted .control.ng-invalid .validation .pattern, form.ng-submitted .control.ng-invalid + .validation .pattern {
    display: none; }

form.ng-submitted .control.ng-invalid.invalid-pattern .validation .required {
  display: none; }

form.ng-submitted .control.ng-invalid.invalid-pattern .validation .pattern {
  display: inline; }

.at_md-button.--brands {
  border-radius: 0.4rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 3.4rem;
  text-transform: uppercase;
  padding: 0 23px;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all .25s ease;
  display: inline-block; }

.at_md-button.--default {
  border-radius: 0.4rem;
  line-height: 3.7rem;
  font-size: 1.5rem;
  padding: 0 26px;
  outline: none;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  transition: all .25s ease;
  display: inline-block; }

.at_md-button:not(:first-child) {
  margin-left: 5px; }

.at_md-button.--grey {
  background-color: #dadada;
  color: grey; }
  .at_md-button.--grey:hover {
    background-color: #e7e7e7; }

.at_md-button.--grey_a {
  background-color: #fafafa;
  border: 0.1rem solid #d3d6d7;
  color: #212121; }
  .at_md-button.--grey_a:hover {
    background-color: white; }

.at_md-button.--blue {
  background-color: #38a2d5;
  color: white; }
  .at_md-button.--blue:hover {
    background-color: #4dacd9; }

.at_md-button.--blue_a {
  background-color: #2f87df;
  border: 0.1rem solid #2f87df;
  color: white; }
  .at_md-button.--blue_a:hover {
    background-color: #4594e2; }

.at_datePicker {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  line-height: 3.2rem;
  position: relative;
  max-width: 200px; }
  .at_datePicker .control {
    width: auto; }
  .at_datePicker .material-icons {
    color: #727272;
    margin-right: 8px;
    position: relative;
    top: -2px; }
  .at_datePicker .at_datePicker-arrow {
    position: absolute;
    top: 2px;
    right: 0;
    margin-right: 0; }
  .at_datePicker .at_datePicker-title {
    position: absolute;
    top: -12px;
    left: 37px;
    color: #909090;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2rem; }
  .at_datePicker input.flatpickr {
    color: #181818;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: inherit;
    background: transparent;
    border: 0;
    display: inline-block;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    box-shadow: 0 0.1rem 0 #d8d8d8;
    padding: 0 4px; }

.flatpickr-calendar {
  font-size: 1.3rem; }

.at_datePickers {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 37px 0 50px 0; }
  .at_datePickers > *:nth-child(2) {
    margin-left: 45px; }
  .at_datePickers > *:nth-child(3) {
    margin-left: 30px; }
  .at_datePickers .at_timeRange-validation {
    position: absolute;
    bottom: -27px;
    left: 37px;
    font-size: 1.1rem; }

/*
 *  Usage:
 *
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
 *
 */
.sk-folding-cube {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg); }
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1); }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    transform-origin: 100% 100%; }
  .sk-folding-cube .sk-cube2 {
    transform: scale(1.1) rotateZ(90deg); }
  .sk-folding-cube .sk-cube3 {
    transform: scale(1.1) rotateZ(180deg); }
  .sk-folding-cube .sk-cube4 {
    transform: scale(1.1) rotateZ(270deg); }
  .sk-folding-cube .sk-cube2:before {
    animation-delay: 0.3s; }
  .sk-folding-cube .sk-cube3:before {
    animation-delay: 0.6s; }
  .sk-folding-cube .sk-cube4:before {
    animation-delay: 0.9s; }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

.at_main-spinner.at_spinner-fixed {
  position: fixed;
  top: 33%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px; }

.at_main-spinner.at_spinner-center {
  margin: 0 auto; }

.at_main-spinner .sk-cube:before {
  background-color: #39a2d5; }

.at_footer {
  background-color: white;
  box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.1); }
  .at_footer .at_footer-wrapper {
    padding: 32px 62px 56px; }
    .at_footer .at_footer-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .at_footer .at_footer-text {
    color: #3d3d3d;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem; }
    .at_footer .at_footer-text a {
      transition: all .25s ease; }
  .at_footer .at_footer-link a {
    color: inherit;
    text-decoration: none;
    margin: 0 13px; }
    .at_footer .at_footer-link a:hover {
      color: #39a2d5; }

.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0, -25%); }

.modal.in .modal-dialog {
  transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.27); }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: black; }

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0; }

.modal-backdrop.in {
  filter: alpha(opacity=30);
  opacity: .3; }

.modal-header {
  padding: 22px 0 21px;
  background-color: #f9f9fb; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7rem; }

.modal-body {
  position: relative;
  padding: 50px 70px 0 70px; }
  .modal-body .at_md-input-element {
    width: 100%; }

.modal-footer {
  text-align: right;
  padding: 20px 70px 50px 70px; }

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px; }

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 300px; } }

@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }

.at_link {
  color: #2f87df;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: underline;
  transition: all .25s ease; }
  .at_link:hover {
    text-decoration: none;
    color: #5ba1e6; }

* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Roboto', serif;
  font-size: 62.5%; }

body {
  background-color: #f9f9fb; }

.layout-content {
  max-width: 880px;
  margin: 0 auto; }

.server-error {
  color: #f44336; }

.server-success {
  color: #009688; }

.pointer {
  cursor: pointer; }
